#addSongArea {
	border-bottom-style:solid;
}

#addSongTitle {
	line-height: 40px;
	margin: 0;
}

#songInputs {
	display: inline-flex;
	margin-left: 10%;
	align-items: center;
}

#songInputs h2 {
	margin: 0 30px;
}

#addSongButton {
	height: 20px;
	padding: 0;
}

#links {
	display: inline-flex;
}

.song {
	width: 80%;
	margin: 10px 10%;
	background-color: rgb(99, 146, 140);
	border-color: rgb(55, 57, 79);
	border-style: solid;
	border-width: 2px;
	box-shadow: -4px 3px rgb(55, 57, 79);
	padding: 0;
}

.songInfo {
	display: inline-flex;
	width: 100%;
	margin: 5px 0;	
	border-bottom-style: solid;
	border-bottom-color: rgb(208, 38, 55);
	align-items: center;
}

#songs {
	display: block;
}

#arrow, .votes {
	background-color: rgb(99, 146, 140);
	border-style: solid;
	border-color: rgb(55, 57, 79);
	margin: 0 4px;
    	padding: 10px 14px;
	height: 40px;
}

#arrow {
	color: rgb(55, 57, 79);
	font-weight: bold;
}

#arrow:hover {
	background-color: rgb(84, 131, 125);
}

.votes {
    color: rgb(239, 203, 165);
    font-weight: bold;
    line-height: 10px;
    padding-top: 13px;
    height: 13px;
    border-width: 2px;
}

.songTitle {
    font-size: 30px;
    line-height: 30px;
    margin: 10px 30px;
}
